.home-body {
	background-color: black;
}

.home-animation-content {
	margin-top: 300px;
	margin-bottom: 1000px;
	color: white;
	text-align: center;
	font-size: 40px;

	opacity: 0;
	transition: all 0.5s;
}

.home-animation-left-content {
	position: relative;
	left: 0%;
	transition: all 0.5s;
}

.home-animation-right-content {
	position: relative;
	left: 0%;
	transition: all 0.5s;
}